.git
.gitignore

frontend/node_modules
frontend/dist
frontend/.env

backend-laravel/vendor
backend-laravel/node_modules
backend-laravel/.env
backend-laravel/storage/logs/*.log
backend-laravel/.phpunit.result.cache

backend-nestjs/node_modules
backend-nestjs/dist
backend-nestjs/build
backend-nestjs/coverage
backend-nestjs/.env

docker-compose.override.yml
