.git
.gitignore

frontend/node_modules
frontend/dist
frontend/.env

backend-laravel/vendor
backend-laravel/node_modules
backend-laravel/.env
backend-laravel/storage/logs/*.log
backend-laravel/.phpunit.result.cache

docker-compose.override.yml
